$tf/
.vs/
bin/
obj/
.suo
packages/
**/*.map
**/ts/**/*.js
**/ts/**/*.map
**/*.user
**/Scripts/Common/**/*.js
**/Scripts/Common/**/*.map
**/Scripts/Shared/**/*.js
**/Scripts/Shared/**/*.map
**/*.ncrunchsolution
**/*.crunchsolution.cache
nCrunchTemp_*
/Tests/Acceptance/TestResults
/SLN/tools/ReindexSearchData/ReindexSearchData/ReindexSearchData
*ncrunchproject
**/node_modules/
/SLN/_NCrunch_PerfectExchange/*
*.DotSettings
*.ncrunchproject
/SLN/src/Frontend/Components/yarn-error.log
**/package-lock.json
*.coverage
